<div role="main" class="hero">
  <div class="container">
    <div class="row row1">
      <div class="col-md-12 col1">
        {% block promoted %}
          {% snippet 'home/snippets/promoted.html' %}
        {% endblock %}
      </div>
    </div>
    <div> <p> <br/> </p> </div>
    <div class="row row2">
      <div class="col-md-12 col1">
        {% block search %}
          {% snippet 'home/snippets/search.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>


<div role="main">
  <div class="container">
    <div class="row row3">
      <div class="col-md-12 col1">
        {# Note: this featured_group block is used as an example in the theming
           tutorial in the docs! If you change this code, be sure to check
           whether you need to update the docs. #}
        {# Start template block example. #}
        <h1 class="hide-heading">{{ _('Groups') }}</h1>
        {% snippet "group/snippets/group_list.html", groups=c.page.items %}
        {# End template block example. #}
      </div>
    </div>
  </div>
</div>
