{% set intro = g.site_intro_text %}

<div class="module-content box">
  <header>
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <h1 class="page-heading">{{ _("Welcome to the Native Hawaiian Data Portal") }}</h1>
      <p>
        {% trans %}The purpose of the Native Hawaiian Data Portal is to facilitate access to data on Native Hawaiian well-being.  Research and data for, by, and about Native Hawaiians are critical to inform strategic, programmatic, policy, and resourcing decisions that align with breaking the cycle of poverty, improving well-being through education, and ultimately furthering an abundant Native Hawaiian lāhui.
        {% endtrans %}
      </p>
    {% endif %}
  </header>
{#
  {% block home_image %}
    <section class="featured media-overlay hidden-xs">
      <h2 class="media-heading">{% block home_image_caption %}{{ _("This is a featured section") }}{% endblock %}</h2>
      {% block home_image_content %}
        <a class="media-image" href="#">
          <img class="img-responsive" src="{{ h.url_for_static('/base/images/placeholder-420x220.png') }}" alt="Placeholder" width="420" height="220" />
        </a>
      {% endblock %}

    </section>
  {% endblock %}

  #}
</div>
